<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <p><a href="/">Index</a>{{#if is_admin}} -> <a href="/user_management">User management</a>{{/if}} -> <a href="/user_management/change_password?username={{user_name}}">Change password</a></p>

        Changing password for user: {{user_name}}<br/>
        {{#if flash}}
        <p>{{#if flash_type}}{{flash_type}}: {{/if}}{{ flash }}</p>
        {{/if}}
        
        <form action="change_password" method="post">        
            <div class="container">
                <input type="password" placeholder="New password" name="password1" required>
                <br/>

                <input type="password" placeholder="New password (again)" name="password2" required>
                <br/>

                <input type="hidden" name="login" value="{{user_name}}">
                
                <button type="submit">Change password</button>
            </div>
        </form> 
    </body>
</html>
